.nav_toggler{
    display: none;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .ayaz{
        display: none;
    }
    .nav_toggler{
        display: block;
    }
    .active{
        display: flex;
        position: absolute;
        margin-top: 100px;
        z-index: 1;
        font-size: 15px;
        @media (max-width: 700px) {
            display: block;
            width: 100%;
            margin-top: 450px;
            background-color: rgb(2, 17, 151);
            border-radius: 20px;
        }
        @media (max-width : 580px) {
            width: 80%;
          }
        & .nav_items{
            display: block;
            

        }
    }
}