:root {
  --box-shadow: 5px 5px 10px 10px rgba(101, 175, 10, 0.5);
  --bg-color: rgb(40, 47, 97);
}

body {
  background-color: rgb(11, 26, 51);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/* Navbar Section */

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.nav_bar .nav_items {
  padding: 16px;
  font-size: 1.2rem;
  font-weight: bold;
  
  
}

.nav_bar .nav_items:hover {
  border-bottom: 3px solid yellow;
}


/* Home Section */

.home {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width : 1000px) {
    flex-direction: column;
  }
}

.home .left {
  background-color: var(--bg-color);
  width: 620px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
  @media (max-width : 1000px) {
    justify-content: center;
    width: 80%;
      margin-top: 50px;
    
  }
}

.home .right .img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  /* height: 350px;
  width: 350px; */
  @media (max-width : 1000px) {
    width: 80%;
    margin-top: 50px;
    justify-content: center;
  }
}

.home .right .img img {
  height: 270px;
  width: 270px;
  border: 5px solid yellow;
  border-radius: 100%;
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  @media (max-width : 450px) {
    height: 150px;
    width: 150px;
  }
}

@keyframes superman {
  0% {
    border-color: blue;
    transform: translate(0, 0px);
    box-shadow: 10px 10px 100px 50px blue;
  }

  25% {
    border-color: rgb(239, 244, 11);
    box-shadow: 10px 10px 100px 50px rgb(239, 244, 11);
  }

  50% {
    border-color: rgb(12, 12, 199);
    transform: translate(0, 10px);
    box-shadow: 10px 10px 100px 50px rgb(12, 12, 199);
  }

  75% {
    border-color: rgb(130, 217, 160);
    box-shadow: 10px 10px 100px 50px rgb(130, 217, 160);
  }

  100% {
    border-color: rgb(50, 55, 205);
    transform: translate(0, -0px);
    box-shadow: 10px 10px 100px 50px rgb(50, 55, 205);
  }
}

/* Experience Section */

.ex {
  width: 80%;
  @media (max-width : 1000px) {
    text-align: center;
      margin-top: 100px;
    
  }
}

.ex-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  margin: 20px;
  padding: 30px;
  width: 90%;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
  @media (max-width : 1000px) {
    flex-direction: column;
    & .ex_right{
      margin-top: 50px;
    }
  }
}

@media (max-width : 450px) {
  .ex_heading{
    font-size: 16px;
  }
}

/* Skills */

.skills {
  width: 80%;
  margin-top: 100px;
  @media (max-width : 1000px) {
    text-align: center;
  }
}

.skills .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 800px; */
  
  margin: auto;
  /* background-color: yellow; */
  @media (max-width : 600px) {
    flex-direction: column;
    
  }
}

.skills .items .item {
  width: 40%;
  background-color: black;
  margin: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
  @media (max-width : 800px) {
    width: 80%;
    
  }
}

.skills .items .item img {
  width: 70px;
}

/* Contact */
.contact{
  @media (max-width : 1000px) {
    text-align: center;
  }
}
.contact-icon {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icon .items {
  background-color: black;
  margin: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid yellow;
  @media (max-width: 500px) {
    height: 40px;
    width: 40px;
  }
}

.contact-icon .items:hover {
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}

.contact-icon .items .icons {
  font-size: 2rem;
}
@media (max-width: 1000px) {
  .projects{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project_box2{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
}
